In [2]:
import pandas as pd

In [3]:
csv_path = "/Users/egeozin/projects/simulacra/upworthy-archive-confirmatory-packages-03.12.2020.csv"
df = pd.read_csv(csv_path)

/var/folders/sv/tnwsf5gj4_j28jzp5zdw7gj80000gn/T/ipykernel_34944/2404065808.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

In [6]:
# Importing required libraries
import pandas as pd

# Loading the dataset
#file_path = '/mnt/data/upworthy-archive-confirmatory-packages-03.12.2020.csv'
upworthy_data = pd.read_csv(csv_path)

# Displaying the first few rows to understand the structure
upworthy_data.head()

/var/folders/sv/tnwsf5gj4_j28jzp5zdw7gj80000gn/T/ipykernel_34944/2768397663.py:6: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  upworthy_data = pd.read_csv(csv_path)

,Unnamed: 0,created_at,updated_at,clickability_test_id,excerpt,headline,lede,slug,eyecatcher_id,impressions,clicks,significance,first_place,winner,share_text,square,test_week
0,11,2014-11-20 11:33:26.475,2016-04-02 16:25:54.046,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,"Let’s See … Hire Cops, Pay Teachers, Buy Books...",<p>Iff you start with the basic fact that inno...,let-s-see-hire-cops-pay-teachers-buy-books-for...,546dce659ad54ec65b000041,3118,8,0.1,False,False,NaN,NaN,201446
1,12,2014-11-20 15:00:01.032,2016-04-02 16:25:54.128,546e01d626714c6c4400004e,Things that matter. Pass 'em on.,People Sent This Lesbian Questions And Her Rai...,<p>I'll be honest. I've wondered about 7.</p>,people-sent-this-lesbian-questions-and-her-rai...,546d1b4bfd3617f091000041,4587,130,55.8,False,False,NaN,NaN,201446
2,13,2014-11-20 11:33:51.973,2016-04-02 16:25:54.069,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,$3 Million Is What It Takes For A State To Leg...,<p>Iff you start with the basic fact that inno...,3-million-is-what-it-takes-for-a-state-to-lega...,546dce659ad54ec65b000041,3017,19,26.9,False,False,NaN,NaN,201446
3,14,2014-11-20 11:34:12.107,2016-04-02 16:25:54.049,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,The Fact That Sometimes Innocent People Are Ex...,<p>Iff you start with the basic fact that inno...,the-fact-that-sometimes-innocent-people-are-ex...,546dce659ad54ec65b000041,2974,26,100.0,True,False,NaN,NaN,201446
4,15,2014-11-20 11:34:33.935,2016-04-02 16:25:54.072,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,Reason #351 To End The Death Penalty: It Costs...,<p>Iff you start with the basic fact that inno...,reason-351-to-end-the-death-penalty-it-costs-3...,546dce659ad54ec65b000041,3050,10,0.2,False,False,NaN,NaN,201446

In [7]:
# Grouping the data by 'clickability_test_id' and aggregating the impressions and clicks
grouped_data = upworthy_data.groupby('clickability_test_id').agg(
    total_impressions=('impressions', 'sum'),
    total_clicks=('clicks', 'sum')
).reset_index()

# Merging the grouped data back to the original dataset
merged_data = upworthy_data.merge(grouped_data, on='clickability_test_id')

# Displaying the first few rows of the merged data
merged_data.head()

,Unnamed: 0,created_at,updated_at,clickability_test_id,excerpt,headline,lede,slug,eyecatcher_id,impressions,clicks,significance,first_place,winner,share_text,square,test_week,total_impressions,total_clicks
0,11,2014-11-20 11:33:26.475,2016-04-02 16:25:54.046,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,"Let’s See … Hire Cops, Pay Teachers, Buy Books...",<p>Iff you start with the basic fact that inno...,let-s-see-hire-cops-pay-teachers-buy-books-for...,546dce659ad54ec65b000041,3118,8,0.1,False,False,NaN,NaN,201446,18217,103
1,13,2014-11-20 11:33:51.973,2016-04-02 16:25:54.069,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,$3 Million Is What It Takes For A State To Leg...,<p>Iff you start with the basic fact that inno...,3-million-is-what-it-takes-for-a-state-to-lega...,546dce659ad54ec65b000041,3017,19,26.9,False,False,NaN,NaN,201446,18217,103
2,14,2014-11-20 11:34:12.107,2016-04-02 16:25:54.049,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,The Fact That Sometimes Innocent People Are Ex...,<p>Iff you start with the basic fact that inno...,the-fact-that-sometimes-innocent-people-are-ex...,546dce659ad54ec65b000041,2974,26,100.0,True,False,NaN,NaN,201446,18217,103
3,15,2014-11-20 11:34:33.935,2016-04-02 16:25:54.072,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,Reason #351 To End The Death Penalty: It Costs...,<p>Iff you start with the basic fact that inno...,reason-351-to-end-the-death-penalty-it-costs-3...,546dce659ad54ec65b000041,3050,10,0.2,False,False,NaN,NaN,201446,18217,103
4,16,2014-11-20 11:34:48.474,2016-04-02 16:25:54.052,546dd17e26714c82cc00001c,Things that matter. Pass 'em on.,"I Was Already Against The Death Penalty, But N...",<p>Iff you start with the basic fact that inno...,i-was-already-against-the-death-penalty-but-no...,546dce659ad54ec65b000041,3061,20,32.0,False,False,NaN,NaN,201446,18217,103

In [8]:
# Sorting the rows based on total number of impressions
sorted_data = merged_data.sort_values(by='total_impressions', ascending=False)

# Generating a new column for normalized click scores
sorted_data['normalized_click_score'] = sorted_data['clicks'] / sorted_data['total_clicks']

# Selecting the relevant columns to match the requested format
final_data = sorted_data[['clickability_test_id', 'headline', 'impressions', 'clicks', 'total_impressions', 'normalized_click_score']]
final_data.columns = ['test_id', 'headline', 'impressions', 'clicks', 'total_test_id_impressions', 'click_score']

# Displaying the first few rows of the final data
final_data.head()

,test_id,headline,impressions,clicks,total_test_id_impressions,click_score
104415,542640d70c8e47f456000023,Dustin Hoffman Breaks Down Crying Explaining S...,36841,468,146783,0.245669
104414,542640d70c8e47f456000023,Dustin Hoffman Breaks Down Crying Explaining S...,36908,464,146783,0.243570
104417,542640d70c8e47f456000023,Dustin Hoffman Breaks Down Crying Explaining S...,36310,489,146783,0.256693
104416,542640d70c8e47f456000023,Dustin Hoffman Breaks Down Crying Explaining S...,36724,484,146783,0.254068
32869,543310f2ce2bb9e608000006,What If Every Guy Was Open To Having Sex Like ...,8543,109,102984,0.070964

In [10]:
# Finding the clickability_test_ids that have at least two unique headlines
test_ids_with_unique_headlines = final_data.groupby('test_id').filter(lambda x: x['headline'].nunique() >= 2)

# Saving the filtered data to a CSV file
filtered_csv_path = 'local_upworthy_filtered_data.csv'
test_ids_with_unique_headlines.to_csv(filtered_csv_path, index=False)

# Displaying the first few rows of the filtered data to confirm the changes
test_ids_with_unique_headlines.head(), filtered_csv_path

(                        test_id  \
 86759  53f5e8923443621cb6000045
 86760  53f5e8923443621cb6000045
 86761  53f5e8923443621cb6000045
 86762  53f5e8923443621cb6000045
 86763  53f5e8923443621cb6000045

                                                 headline  impressions  clicks  \
 86759  Hey Doctors — There's Somethin' We've Really, ...        14275      98
 86760  Yo Doctors — We Really, Really Need To Have A ...        14257      95
 86761  Yo Doctors — There's Somethin' We've Really, R...        14323      91
 86762  Yo Doctors — There's Somethin' We've 100% Abso...        14014      79
 86763  Yo Doctors — There's Somethin' We've Really, R...        14190      91

        total_test_id_impressions  click_score
 86759                      99816     0.158065
 86760                      99816     0.153226
 86761                      99816     0.146774
 86762                      99816     0.127419
 86763                      99816     0.146774  ,
 'local_upworthy_filtered_data.csv')

In [11]:
unique_test_ids_count = test_ids_with_unique_headlines['test_id'].nunique()
unique_test_ids_count

12495